accelerate==0.34.2
aiofiles==23.2.1
aiohttp==3.10.10
anyio==4.5.2
clean-fid==0.1.35
click==8.1.7
cmake==3.30.5
datasets==3.1.0
diffusers==0.31.0
dill==0.3.8
evaluate==0.4.3
fairscale==0.4.13
fastapi==0.115.4
ffmpy==0.4.0
filelock==3.16.1
fsspec==2024.9.0
ftfy==6.2.3
gitpython==3.1.43
gradio==4.44.1
httpx==0.27.2
image-reward==1.5
lmdb==1.5.1
matplotlib==3.7.5
numpy==1.24.4
open-clip-torch==2.29.0
opencv-python==4.10.0.84
pandas==2.0.3
peft==0.13.2
pillow==10.4.0
piq==0.7.0
protobuf==5.28.3
pydantic==2.9.2
pydub==0.25.1
python-multipart==0.0.17
regex==2024.9.11
requests==2.32.3
rich==13.9.4
safetensors==0.4.5
scipy==1.10.1
setproctitle==1.3.3
sympy==1.13.3
timm==0.6.13
tokenizers==0.20.1
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.6
transformers==4.46.1
uvicorn==0.32.0
wandb==0.18.5
xxhash==3.5.0
yarl==1.15.2
imageio
